.buy-now {
  text-decoration: underline;
}
.lowest-price-ever-container {
  position: relative;
  line-height: 135%;
  white-space: nowrap;
}
.frame-child {
  height: 14.7px;
  width: 18px;
  position: relative;
}
.lowest-price-ever-forever-dat-parent {
  align-self: stretch;
  background-color: #a5a6f6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 24px 20px 20.3px;
  box-sizing: border-box;
  gap: 7px;
  min-height: 70px;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: Inter;
}
.mask-group-icon {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
  min-height: 32px;
}
.alpinesphere {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 600;
  font-family: inherit;
  white-space: nowrap;
}
.alpine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.resources,
.shop-plans {
  position: relative;
  line-height: 19px;
  display: inline-block;
}
.shop-plans {
  min-width: 74px;
  white-space: nowrap;
}
.resources {
  min-width: 70px;
}
.arrow-down-icon {
  height: 24px;
  width: 24px;
  position: relative;
}
.shop-resources {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.download,
.explore {
  position: relative;
  line-height: 19px;
  display: inline-block;
  min-width: 66px;
}
.explore {
  min-width: 50px;
}
.arrow-down-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
}
.shop-download-explore,
.shop-plans-download,
.shop-resources1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.shop-resources1 {
  gap: 8px;
}
.shop-download-explore,
.shop-plans-download {
  max-width: 100%;
}
.shop-download-explore {
  gap: 24px;
  font-size: 14px;
  color: #1c1c1c;
}
.shop-plans-download {
  gap: 32px;
}
.login,
.sign-up {
  position: relative;
  line-height: 19px;
  display: inline-block;
}
.sign-up {
  min-width: 50px;
  white-space: nowrap;
}
.login {
  font-size: 14px;
  font-family: Inter;
  color: #fff;
  text-align: left;
  min-width: 37px;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 12px 24px;
  background-color: #8e59ff;
  flex: 0.4353;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: #a873ff;
}
.global-icon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.en {
  position: relative;
  line-height: 19px;
  display: inline-block;
  min-width: 19px;
}
.arrow-down-icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.global-dropdown,
.sign-up-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.global-dropdown {
  flex: 1;
  gap: 8px;
}
.sign-up-login {
  width: 266px;
  gap: 24px;
  font-size: 14px;
  color: #1c1c1c;
}
.header,
.plans-shop-download-explore {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.plans-shop-download-explore {
  background-color: #fff;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px 120px;
  box-sizing: border-box;
  gap: 20px;
}
.header {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: 24px;
  color: #8e59ff;
  font-family: Inter;
}
.customer-reviews-hear {
  margin: 0;
  width: 720px;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.review-cards {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  max-width: 100%;
}
.homepage,
.reviews-1920x {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.reviews-1920x {
  align-self: stretch;
  background-color: #f1eaff;
  justify-content: center;
  padding: 80px 114px 80px 120px;
  box-sizing: border-box;
  gap: 24px;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
  color: #262626;
  font-family: Inter;
}
.homepage {
  width: 100%;
  position: relative;
  background-color: #fff;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
  .plans-shop-download-explore,
  .reviews-1920x {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
  .reviews-1920x {
    padding-right: 57px;
  }
}
@media screen and (max-width: 925px) {
  .shop-plans-download {
    gap: 16px;
  }
  .plans-shop-download-explore {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
  .customer-reviews-hear {
    font-size: 26px;
    line-height: 31px;
  }
  .reviews-1920x {
    padding: 52px 28px 52px 30px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .customer-reviews-hear {
    font-size: 19px;
    line-height: 23px;
  }
}
