.frequently-asked-questions {
  position: relative;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
}
.cant-find-the,
.explore-more {
  position: relative;
  line-height: 22px;
}
.explore-more {
  display: inline-block;
  min-width: 100px;
}
.arrow-right-icon1 {
  width: 18px;
  height: 18px;
  position: relative;
}
.arrow-right-wrapper,
.explore2,
.f-a-q-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.arrow-right-wrapper {
  flex-direction: column;
  padding: 2px 0 0;
}
.explore2,
.f-a-q-content {
  flex-direction: row;
  gap: 10px;
}
.f-a-q-content {
  flex-direction: column;
  gap: 24px;
  max-width: 100%;
}
.what-are-the {
  position: relative;
  line-height: 22px;
}
.vector-icon {
  width: 11.4px;
  height: 5.7px;
  position: relative;
}
.virtual-number-f-a-q-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8.1px 0 0;
}
.benefits-list {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.benefits-list1 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.how-do-i {
  position: relative;
  line-height: 22px;
}
.vector-icon1 {
  width: 11.4px;
  height: 5.7px;
  position: relative;
}
.benefits-list2,
.vector-wrapper {
  display: flex;
  align-items: flex-start;
}
.vector-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  padding: 8.1px 0 0;
}
.benefits-list2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.benefits-list3 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.how-do-i1 {
  position: relative;
  line-height: 22px;
}
.vector-icon2 {
  width: 11.4px;
  height: 5.7px;
  position: relative;
}
.benefits-list4,
.vector-container {
  display: flex;
  align-items: flex-start;
}
.vector-container {
  flex-direction: column;
  justify-content: flex-start;
  padding: 8.1px 0 0;
}
.benefits-list4 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.benefits-list5 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.how-do-i2 {
  position: relative;
  line-height: 22px;
}
.vector-icon3 {
  width: 11.4px;
  height: 5.7px;
  position: relative;
}
.benefits-list6,
.vector-frame {
  display: flex;
  align-items: flex-start;
}
.vector-frame {
  flex-direction: column;
  justify-content: flex-start;
  padding: 8.1px 0 0;
}
.benefits-list6 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.benefits-list7 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.are-virtual-mobile {
  position: relative;
  line-height: 120%;
}
.vector-icon4 {
  width: 11.4px;
  height: 5.7px;
  position: relative;
}
.benefits-list8,
.frame-div {
  display: flex;
  align-items: flex-start;
}
.frame-div {
  flex-direction: column;
  justify-content: flex-start;
  padding: 8.1px 0 0;
}
.benefits-list8 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.benefits-list9 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.can-i-use {
  position: relative;
  line-height: 120%;
}
.vector-icon5 {
  width: 11.4px;
  height: 5.7px;
  position: relative;
}
.benefits-list10,
.vector-wrapper1 {
  display: flex;
  align-items: flex-start;
}
.vector-wrapper1 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 8.1px 0 0;
}
.benefits-list10 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.benefits-list11 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.can-globalesyncs-virtual {
  position: relative;
  line-height: 120%;
}
.vector-icon6 {
  width: 11.4px;
  height: 5.7px;
  position: relative;
}
.benefits-list12,
.vector-wrapper2 {
  display: flex;
  align-items: flex-start;
}
.vector-wrapper2 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 8.1px 0 0;
}
.benefits-list12 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.benefits-list13 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.can-virtual-cell {
  position: relative;
  line-height: 22px;
}
.vector-icon7 {
  width: 11.4px;
  height: 5.7px;
  position: relative;
}
.benefits-list14,
.vector-wrapper3 {
  display: flex;
  align-items: flex-start;
}
.vector-wrapper3 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 8.1px 0 0;
}
.benefits-list14 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.benefits-list15 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.in-which-countries {
  position: relative;
  line-height: 22px;
}
.vector-icon8 {
  width: 11.4px;
  height: 5.7px;
  position: relative;
}
.benefits-list16,
.vector-wrapper4 {
  display: flex;
  align-items: flex-start;
}
.vector-wrapper4 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 8.1px 0 0;
}
.benefits-list16 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.benefits-list17 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.is-a-virtual {
  position: relative;
  line-height: 22px;
}
.vector-icon9 {
  width: 11.4px;
  height: 5.7px;
  position: relative;
}
.benefits-list18,
.vector-wrapper5 {
  display: flex;
  align-items: flex-start;
}
.vector-wrapper5 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 8.1px 0 0;
}
.benefits-list18 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.benefits-list19 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.faq-1920x,
.virtual-number-benefits {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.virtual-number-benefits {
  width: 1112px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 23.5px;
  font-size: 18px;
}
.faq-1920x {
  align-self: stretch;
  background-color: #493c97;
  flex-direction: row;
  justify-content: space-between;
  padding: 80px 120px 79px;
  box-sizing: border-box;
  gap: 20px;
  z-index: 2;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: Inter;
}
@media screen and (max-width: 1900px) {
  .faq-1920x {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1425px) {
  .faq-1920x {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 950px) {
  .faq-1920x {
    padding: 52px 30px 51px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .frequently-asked-questions {
    font-size: 19px;
    line-height: 23px;
  }
  .faq-1920x {
    padding-top: 34px;
    padding-bottom: 33px;
    box-sizing: border-box;
  }
}
