.flagaf-icon {
  height: 46.7px;
  width: 70px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.afghanistan {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 104px;
}
.country-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.arrow-down-icon9 {
  height: 24px;
  width: 24px;
  position: relative;
}
.country-elements-parent {
  width: 402px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #f1eaff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px 48px;
  box-sizing: border-box;
  max-width: 100%;
  gap: 20px;
  text-align: left;
  font-size: 18px;
  color: #000;
  font-family: Inter;
}
@media screen and (max-width: 450px) {
  .country-elements-parent {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
